/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 60%;
  width: 10%;
  height: 100%;
  background-color: #bfbfbf;
}
/* Style the main container */
.main-wrapper {
  text-align: center;
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

/* Style the intro message */
.intro-wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 50px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-message {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Style the Start button */
#start_creation {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the building wrapper */
.building-wrapper {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-box {
  text-align: center;
  border: 2px solid #ddd; /* Add a border around the image box */
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  height: 100px;
  margin: 10px auto;
  box-sizing: border-box;
  overflow: hidden;
}

.image-box img {
  width: 120px;
  height: 85px;
  display: inline;
}

/* Style the form elements */
.form {
  text-align: left;
}

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type='file'] {
  margin-bottom: 10px;
  display: none;
}

/* Style the Add Slide button */
#add_slide_btn,
.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slider-container {
  width: 90%;
  padding: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  z-index: 3;
  box-shadow: 0 4px 6px rgba(43, 37, 37, 0.1);
}

/* Base styles for slides */
.slides {
  width: 80%;
  max-width: 500px;
  height: 60%;
  max-height: 300px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides img {
  display: block;
  width: 100%;
  height: auto;
}

/* Base styles for slide captions */
.caption {
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgb(11, 7, 83);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 5px;
  z-index: 1;
}

/* Base styles for slide navigation buttons */
.slider-btns {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.slider-btns .btn {
  margin: 0 10px; /* Add some spacing between buttons */
  background-color: #e3e3e3;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slider-btns .notPlaying {
  background-color: rgb(4, 41, 5);
  color: white;
}

.slider-btns .playing {
  background-color: rgb(143, 13, 13);
  color: whitesmoke;
}

.slider-btns .btn:hover {
  background-color: #d3d3d3;
  color: black;
}

/* Responsive styles for screens up to 768px */
@media (max-width: 768px) {
  /* Style the building wrapper */
  .building-wrapper {
    max-width: 90%;
  }

  /* Style the image box */
  .image-box {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin: 10px auto;
  }

  .image-box img {
    width: 100%;
    height: auto;
  }

  /* Style the form elements */
  .form-label {
    font-size: 14px;
  }

  .form-input {
    font-size: 14px;
  }

  /* Style the Add Slide button */
  #add_slide_btn,
  .btn {
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 5px;
  }

  .slider-container {
    width: 100%;
  }
  .slides {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 200px;
  }

  .slide {
    object-fit: cover;
  }

  .slides img {
    width: 100%;
    height: auto;
  }

  .slider-btns {
    position: absolute;
    display: flex;
    z-index: 2;
  }

  .slider-btns .btn {
    font-size: 16px;
  }
}
